.wrapper{
  margin-top: 20px;
  margin-bottom: 20px;

}

.form-signUp{
  max-width: 380px;
  padding: 15px 25px 25px;
  margin: 0 auto;
  border: 2px solid black;
}

.form-signUp-heading{
  text-align: center;
  margin-bottom: 30px;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-control {
  font-size: 12px;
  background: transparent;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input-group input{
  padding-left: 30px;
  border: 1px solid black;
  text-decoration: none;
}

.input-group{
  position: relative;
}

.input-group i{
left: 0;
position: absolute;
padding: 12px 9px;

}

a{
  text-decoration: none;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12px;

}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.help-block{
color: red;
font-size: 12px;
}
