<div class="landing-text" *ngFor="let cont of content" [ngStyle]="{'background-image': 'url('+cont.backgroundImagePath+')',
  'background-position': 'center',
  'background-size': 'cover',
  'position': 'relative',
  'background-repeat': 'no-repeat',
  'background-attachment': 'fixed'}">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img [src]="cont.image" alt="" class="image">
    </div>
    <div class="col-md-4 details">
        <h1>{{cont.name}}</h1>
        <p>{{cont.description}}</p>
        <button [routerLink] ="cont.url" class ="btn btn-primary">Read More</button>
    </div>
  </div>
</div>

