<div id="home">
  <div class="landing-text">
    <h1>Bootstrap</h1>
    <h3>Learn the basics</h3>
    <button class="btn btn-default">Click Me</button>
  </div>
</div>
<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="../../assets/me.jpg" style="height: 200px; width: 200px" alt="">
      </div>
      <div class="col-sm-6 text-center">
        <h2>All about Me!!</h2>
        <p class="lead">It Works</p>
      </div>
    </div>
  </div>
</div>
<div class="padding">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>Build with saas</h4>
      <p>Works</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <img src="../../assets/me.jpg" class="img-responsive" style="height: 200px; width: 200px;" alt="">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Build with sass</h4>
        <p>works</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="../../assets/me.jpg" class="img-responsive" style="width: 200px; height: 200px;" alt="">
          </div>
  </div>
</div>
<footer class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-4">
      <h3>Contact Us</h3>
      <br>
      <p>Works</p>
    </div>
    <div class="col-sm-4">
      <h3>Connect</h3>
      <br>
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
    </div>
    <div class="col-sm-4"></div>
  </div>
</footer>
