<nav class="navbar transparent navbar-expand-sm navbar-light">
    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
          <!-- <a href="#" class="navbar-brand">
              <img src="../../assets/logo.jpg" alt="Logo" class="logoImg">
            </a> -->
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
              </form> -->
              <ul class="nav navbar-nav mr-auto socialIcon">
                  <a href="https://www.facebook.com/saurav.asopa" class="fa fa-facebook" target="_blank"></a>
                  <a href="#" class="fa fa-twitter"></a>
                  <a href="#" class="fa fa-linkedin"></a>
                  <a href="#" class="fa fa-google"></a>
                  <a href="#" class="fa fa-instagram"></a>
                </ul>
              <ul class="nav navbar-nav mc-auto">
                <li class="nav-item">
                  <a routerLink="" class="nav-link heading">Home</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/contact" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/login" class="nav-link" (click)="onLoginButtonClick()">Login</a>
                </li>
              </ul>
      </div>

</nav>
